@font-face {
    font-family: Poppins;
    src: url(../assets/font/Poppins-Regular.ttf);
}

:root{
    --primary-color: rgb(54, 89, 126);
    --secondary-color: rgb(68, 130, 194);
    --accent-color: rgb(12, 0, 83);
    --background-color-main: rgb(72, 95, 132);
    --table-bg: rgba(255, 255, 255, 0.08);
    --table-border: rgba(255, 255, 255, 0.3);
    --background-color-waves: linear-gradient(
            105deg,
            rgb(68, 130, 194) 0%,
            rgb(75, 135, 198) 8%,
            rgb(85, 140, 202) 15%,
            rgb(95, 145, 206) 82%,
            rgb(75, 135, 198) 90%,
            rgb(68, 130, 194) 100%
    );
}

body {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-box p span{
    color: black;
    font-style: italic;
}

.error-box h1{
    padding-bottom: 2vh;
    border-bottom: black solid 3px;
}

/*<editor-fold desc="Wave Background">*/
/*.background {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;*/
/*}*/

/*.wave-bg {*/
/*    position: absolute;*/
/*    width: 300%;*/
/*    height: 300%;*/
/*    top: -100%;*/
/*    left: -100%;*/
/*    background: var(--background-color-waves);*/
/*    border-radius: 50%;*/
/*    animation: waveMove 20s ease-in-out infinite;*/
/*}*/

/*.wave-bg:nth-child(2) {*/
/*    animation-delay: -10s;*/
/*    opacity: 0.7;*/
/*}*/

/*@keyframes waveMove {*/
/*    0% { transform: translateX(0) translateY(0) rotate(45deg); }*/
/*    25% { transform: translateX(15%) translateY(10%) rotate(45deg); }*/
/*    50% { transform: translateX(30%) translateY(5%) rotate(45deg); }*/
/*    75% { transform: translateX(15%) translateY(-10%) rotate(45deg); }*/
/*    100% { transform: translateX(0) translateY(0) rotate(45deg); }*/
/*}*/
/*</editor-fold>*/
