@font-face {
    font-family: Poppins;
    src: url(../assets/font/Poppins-Regular.ttf);
}

body {
    background: linear-gradient(180deg, rgba(32, 160, 247, 1) 0%, rgba(29, 89, 239, 1) 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Poppins, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

#nav {
    width: 97.5vw;
    padding-left: 2.5vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
}

#floor-box {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.floors {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.387);
    width: 17.5vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.floors p {
    color: greenyellow;
}


#map {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50vw;
    height: 80vh;
    border-radius: 25px;
    background-image: url(../map.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.koje {
    position: absolute;
    width: 1.5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
}


.koje.occupied {
    background-color: red;
}

.koje.unoccupied {
    background-color: green;
}

#k1 {
    top: 38%;
    left: 20%;
}

#k2 {
    top: 23%;
    left: 48%;
}

#k3 {
    top: 40%;
    left: 57%;
}


#k4 {
    top: 57%;
    left: 28%;
}

#k5 {
    top: 40%;
    left: 57%;
}