@font-face {
    font-family: Poppins;
    src: url(../assets/font/Poppins-Regular.ttf);
}

body {
    background: linear-gradient(180deg, rgba(32, 160, 247, 1) 0%, rgba(29, 89, 239, 1) 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Poppins, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

#nav {
    width: 97.5vw;
    padding-left: 2.5vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
}

#floor-box {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.floors {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.387);
    width: 17.5vw;
    padding-top: 2.5vh;
    padding-left: 2.5vw;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#floor_1OG, #floor_2OG {
    transition: 0.5s ease-in-out;
    border : 4px solid white;
}

#floor_1OG:hover, #floor_2OG:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#map {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50vw;
    height: 80vh;
    border-radius: 25px;
    background-image: url(../map.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.koje {
    position: absolute;
    width: 1.5vw;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
}


.koje.occupied {
    background-color: red;
}

.koje.unoccupied {
    background-color: rgb(17, 130, 17);
}

#k1 {
    display: none;
    top: 38%;
    left: 20%;
}

#k2 {
    display: none;
    top: 23%;
    left: 48%;
}

#k3 {
    display: none;
    top: 40%;
    left: 57%;
}


#k4 {
    display: none;
    top: 57%;
    left: 28%;
}

#k5 {
    display: none;
    top: 40%;
    left: 57%;
}

@media (max-width: 600px) {

    body {
        overflow: hidden;
    }


    #nav {
        width: 100vw;
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 0;
        height: 10vh;
        display: flex;
        justify-content: center;
        font-size: 0.91em;
    }



    #floor-box {
        left: 0;
        top: 20%;
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .floors {
        width: 37.5vw;
        height: 7.5vh;
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #map {
        left: 50%;
        transform: translateY(0);
        transform: translate(-50%);
        top: 40%;
        width: 95vw;
        height: 70vh;
    }

    .koje {
        width: 2vw;
    }
    
    #k1 {
        top: 24%;
        left: 25%;
    }
    #k2 {
        top: 15%;
        left: 56%;
    }
    #k3 {
        top: 26%;
        left: 60%;
    }
    #k4 {
        top: 35%;
        left: 32%;
    }
    #k5 {
        top: 26%;
        left: 66%;
    }
}